body {
  background-color: #fafafa;
}

.map {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 500px;
}

.row {
  display: flex;
}

.cell {
  border: 1px solid black;
  display: inline-flex;
  height: 50px;
  width: 50px;
}

.cell--snake {
  background-color: red;
}
