body {
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
  margin: 0;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-status {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-status__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: wheat;
  padding: 5px 10px;
  font-size: 30px;
}

.game-status__cta {
  margin-top: 5px;
}

.btn {
  font-size: 25px;
}

.game__score {
  margin-top: 5px;
}

.map {
  position: relative;
  background-color: white;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 0;
}

.row {
  display: flex;
}

.cell {
  display: inline-flex;
  height: 20px;
  width: 20px;
}

.cell--snake {
  background-color: red;
}

.cell--snake-head {
  background-color: blue;
}

.cell--bonus {
  background-color: green;
}

.cell--penalty {
  background-color: black;
}
